@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

:root, body{
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
