@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

:root, body{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

body {
  transition: background-color 0.3s, color 0.3s;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
